@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  width: 100vw;
  overflow-x: hidden;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5;
  overflow: auto !important;
  padding: 0px !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.gm-style-iw button[title="Close"] {
  display: none !important;
}
